<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <ul class="alert alert-danger" *ngIf="errors?.length > 0">
    <li *ngFor="let err of errors">
      {{ err }}
    </li>
  </ul>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="card border-primary mb-3">
      <div class="card-header">
        <button class="btn btn-rounded btn-primary" [routerLink]="['/rivalries']">Rivalries list</button>
      </div>

      <div class="card-body text-primary">
        <form #rivalryForm="ngForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="rivalryname">Rivalry Name</label>
              <input type="text" class="form-control" id="rivalryname" name="rivalryname" placeholder="Rivalry name"
                     [(ngModel)]="rivalry.rivalryname" #rivalryname="ngModel" required>
              <div class="alert-danger" *ngIf="rivalryname.invalid && (rivalryname.dirty || rivalryname.touched)">
                <div *ngIf="rivalryname.errors.required">
                  Rivalry name is required
                </div>
                <div *ngIf="rivalryname.errors.minlength">
                  Rilvary name length should be at least 4 characters
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" name="location" placeholder="Location"
                     [(ngModel)]="rivalry.location" #location="ngModel" required>
              <div class="alert-danger" *ngIf="location.invalid && (location.dirty || location.touched)">
                <div *ngIf="location.errors.required">
                  location is required
                </div>
                <div *ngIf="location.errors.minlength">
                  location length should be at least 4 characters
                </div>
              </div>
            </div>

            <div class="form-group col-md-2">
              <label for="capacity">Capacity</label>
              <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Capacity"
                     [(ngModel)]="rivalry.capacity" #capacity="ngModel" required>
              <div class="alert-danger" *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)">
                <div *ngIf="capacity.errors.required">
                  capacity is required
                </div>
                <div *ngIf="capacity.errors.minlength">
                  capacity
                </div>
              </div>
            </div>

            <div class="form-group col-md-2">
              <label for="rivalrydate">rivalrydate</label>
              <input type="date" class="form-control" id="rivalrydate" name="rivalrydate" placeholder="rivalrydate"
                     [(ngModel)]="rivalry.rivalrydate" #rivalrydate="ngModel" required>
              <div class="alert-danger" *ngIf="rivalrydate.invalid && (rivalrydate.dirty || rivalrydate.touched)">
                <div *ngIf="rivalrydate.errors.required">
                  rivalrydate is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="description">Description</label>
              <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description"
                        [(ngModel)]="rivalry.description" #description="ngModel" placeholder="Enter a description ..."
                        required></textarea>
              <div class="alert-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
                <div *ngIf="description.errors.required">
                  Description is required
                </div>
                <div *ngIf="description.errors.minlength">
                  Description length should be at least 4 characters
                </div>
              </div>
            </div>
          </div>

          <div>
            <button class="btn btn-success float-right px-5" role="button" (click)='create()'
                    *ngIf="!rivalry.id else elseBlock"
                    [disabled]="!rivalryForm.form.valid">Create
            </button>
            <ng-template #elseBlock>
              <button class="btn btn-success float-right px-5" role="button" (click)='update()'
                      [disabled]="!rivalryForm.form.valid">Update
              </button>
            </ng-template>
          </div>
        </form>
      </div>
    </div><!-- /.card -->

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
