<ul class="alert alert-danger" *ngIf="errors?.length > 0">
<li *ngFor="let err of errors">
  {{ err }}
</li>
</ul>

<div class="w-50 mx-auto" style="width: 200px;">

  <div class="card border-primary text-center">
    <div class="card-header">{{title}}</div>
    <div class="card-body">

      <form method="post">

        <div class="text-center">
          <img class="mb-4 " src="./assets/logoSportsEvent.png" alt="logo de sports event" width="35%" height="35%">
        </div>

        <div class="form-group col-sm-6">
          <input [(ngModel)]="user.username" type="text" class="form-control" name="username" id="username"
            placeholder="Username" autofocus required>
        </div>

        <div class="form-group col-sm-6">
          <input [(ngModel)]="user.password" type="password" class="form-control" name="password" id="password"
            placeholder="Password" required>
        </div>

        <div class="form-group col-sm-6">
          <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
        </div>
      </form>

      <!---
        <div class="text-center">
          <input (click)='()' type="submit" class="btn btn-outline-info" value="New around here? Sign up">
          
        </div>
      -->
    </div>
  </div>