<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <ul class="alert alert-danger" *ngIf="errors?.length > 0">
        <li *ngFor="let err of errors">
            {{ err }}
        </li>
    </ul>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">   
        <div class="card-body text-primary">
            <form #userForm="ngForm">

                <div class="card-header text-white bg-info mb-3 ">
                    <h5 class="font-weight-bold">Update User</h5>

                </div>
                <div class="card-body ">

                    <div class="d-flex flex-row ">
                        <h6 class="p-2 font-weight-bold">Username</h6>
                        <input type="text" class="form-control" id="username" name="username" placeholder=user.username
                            [(ngModel)]="user.username" #username="ngModel" required>
                        <div class="alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                            <div *ngIf="username.errors.required">
                                Username is required
                            </div>
                            <div *ngIf="username.errors.minlength">
                                Username length should be at least 4 characters
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row ">
                        <h6 class="p-2 font-weight-bold">Name</h6>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder=user.firstname
                            [(ngModel)]="user.firstname" #firstname="ngModel" required>
                        <div class="alert-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                            <div *ngIf="firstname.errors.required">
                                Firstname is required
                            </div>
                            <div *ngIf="firstname.errors.minlength">
                                Firstname length should be at least 4 characters
                            </div>
                        </div>
                    
                    
                        <h6 class="p-2 font-weight-bold">Lastname</h6>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder=user.lastname
                            [(ngModel)]="user.lastname" #lastname="ngModel" required>
                        <div class="alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                            <div *ngIf="lastname.errors.required">
                                Lastname is required
                            </div>
                            <div *ngIf="lastname.errors.minlength">
                                Lastname length should be at least 4 characters
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <h6 class="p-2 font-weight-bold">Email</h6>
                        <input type="email" class="form-control" id="email" name="email" placeholder="user.email"
                            [(ngModel)]="user.email" #email="ngModel" required>
                        <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors.required">
                                Email is required
                            </div>
                            <div *ngIf="email.errors.email">
                                Email should have a valid format
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header text-right">
                    <button type="button" name="edit" class="btn btn-warning"  (click)='update()' [routerLink]="['/profile']">Update
                    </button>
                </div>
            </form>


        </div><!-- /.card -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->