<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0 text-dark">Enrollment</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container">

      <div class="callout callout-info">
        <h5><i class="fas fa-info"></i> Note:</h5>
        Check your data in your profile, and update it before sending the enrollment.
      </div>

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">

            <div class="col-12 col-sm-6 col-md-6">
              <div class="card card-outline card-primary">
                <div class="card-header">
                  <h3 class="card-title">Rivalry data</h3>
                  <div class="card-tools">
                    <span class="badge badge-primary">Status</span>
                  </div>
                  <!-- /.card-tools -->
                </div><!-- /.card-header -->
                <div class="card-body">
                  <h2 class="lead"><b>{{rivalry.rivalryname}}</b></h2>
                  <p class="text-muted text-sm"><b>Description: </b>{{rivalry.description}}</p>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small">
                      <span class="fa-li"><i class="fas fa-user-friends"></i></span> Capacity: {{rivalry.capacity}}
                    </li>
                    <li class="small">
                      <span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Location: {{rivalry.location}}
                    </li>
                    <li class="small">
                      <span class="fa-li"><i class="fas fa-clock"></i></span> Date: {{rivalry.rivalrydate}}
                    </li>
                  </ul>
                </div><!-- /.card-body -->
              </div><!-- /.card -->
            </div>
            <div class="col-12 col-sm-6 col-md-6">
              <div class="card card-outline card-secondary">
                <div class="card-header">
                  <h3 class="card-title">User data</h3>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <p class="text-muted text-sm"><b>Firstname: </b>{{user.firstname }}</p>
                  <p class="text-muted text-sm"><b>Lastname: </b>{{user.lastname}}</p>
                  <p class="text-muted text-sm"><b>Email: </b>{{user.email}}</p>
                </div><!-- /.card-body -->
              </div><!-- /.card -->
            </div>

            <div class="col-12">
              <form #enrollmentForm="ngForm">
                <div >
                  <input type="number" id="rivalryid" name="rivalryid" [(ngModel)]="enrollment.rivalry_id" #rivalry_id="ngModel" value="{{rivalry.id}}" />
                  <input type="number" id="userid" name="userid" [(ngModel)]="enrollment.user_id" #user_id="ngModel" value="{{user.id}}" />
                </div>
                <div>
                  <button class="btn btn-info float-right" role="button" (click)='enroll()'
                          [disabled]="!enrollmentForm.form.valid">Enroll
                  </button>
                </div>
              </form>
            </div>

          </div>
        </div><!-- /.card-body -->
      </div>

    </div><!-- /.container-fluid -->
  </div><!-- /.content -->

</div><!-- /.content-wrapper -->
